<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.cjs2108_kdd.dao.SongDAO">
	<select id="getSongIdx" resultType="Integer">
		select idx from song where title = #{title} and artist = #{artist};
	</select>
	
	<select id="getSongCnt" resultType="int">
		select count(*) from song;
	</select>
	
	<select id="getSongVOS" resultType="com.spring.cjs2108_kdd.vo.SongVO">
		select * from song order by idx desc limit #{startNo}, #{pageSize};
	</select>
	
	<update id="setAdminSongUpdate">
		update song set ${column} = #{value} where idx = #{idx};
	</update>
	
	<select id="getSongInfor" resultType="com.spring.cjs2108_kdd.vo.SongVO">
		select * from song where idx = #{idx};
	</select>
	
	<select id="getSongSrch" resultType="com.spring.cjs2108_kdd.vo.SongVO">
		select * from song where title like '%${srchKwd}%' or artist like '%${srchKwd}%';
	</select>
	
	<update id="upLikeCnt">
		update song set likeCnt = likeCnt + 1 where idx = #{idx};
	</update>

	<update id="downLikeCnt">
		update song set likeCnt = likeCnt - 1 where idx = #{idx};
	</update>
	
	<select id="getLikeList" resultType="String">
		select likeList from song where idx = #{idx};
	</select>
	
	<update id="setLikeList">
		update song set likeList = #{likeList} where idx = #{idx};
	</update>
	
	<select id="getLyrics" resultType="String">
		select lyrics from song where idx = #{idx};
	</select>
	
	<insert id="addSongDB">
		insert into song (img, title, artist) values (#{img}, #{title}, #{artist});
	</insert>
	
	<select id="isPlayCnt" resultType="int">
		select count(*) from play where songIdx = #{songIdx} and userIdx = #{userIdx};
	</select>
	
	<insert id="setPlayCnt">
		insert into play (songIdx, userIdx) values (#{songIdx}, #{userIdx});
	</insert>
	
	<update id="addPlayCnt">
		update play set playCnt = playCnt + 1 where songIdx = #{songIdx} and userIdx = #{userIdx};
	</update>
	
	<select id="getRank" resultType="com.spring.cjs2108_kdd.vo.SongVO">
		select *, sum(playCnt) as playCntSum from song s left join play p on s.idx = p.songIdx group by s.idx order by sum(playCnt) desc limit 10;
	</select>
	
	<insert id="insertSong">
		insert into song values (default, #{vo.img}, #{vo.title}, #{vo.artist}, #{vo.album}, #{vo.releaseDate}, #{vo.genre}, #{vo.music}, #{vo.words}, #{vo.arranger}, #{vo.lyrics}, default, default, default);
	</insert>
	
	<select id="isSong" resultType="int">
		select count(*) from song where title = #{title} and artist = #{artist};
	</select>
	
	<update id="setIsfile">
		update song set isFile = 1 where idx = ${idx};
	</update>

	<update id="isFileUpdate">
		<if test="sw == 0">
			update song set isFile = 0 where idx = ${idx};
		</if>
		<if test="sw == 1">
			update song set isFile = 1 where idx = ${idx};
		</if>
	</update>
	
	<select id="getLastIdx" resultType="int">
		select idx from song order by idx desc limit 1;
	</select>
	
	<insert id="setSongUpdate">
		insert into song_update values (default, #{idx}, default);
	</insert>
	
	<select id="getUpdateSong" resultType="com.spring.cjs2108_kdd.vo.SongVO">
		select * from song s left join song_update u on s.idx = u.songIdx where date_format(date, "%Y-%m-%d") = curdate();
	</select>
	
<!-- 	<select id="getSong100" resultType="com.spring.cjs2108_kdd.vo.SongVO" parameterType="java.util.ArrayList">
		<foreach collection="vos" item="vo">
			select * from song where title = #{vo.title} and artist = #{vo.artist}
		</foreach>
		;
	</select> -->
	
</mapper>