<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.cjs2108_kdd.dao.UserDAO">
	<select id="getUserVO" resultType="com.spring.cjs2108_kdd.vo.UserVO">
		select *, date_add(membershipDate, interval 1 month) as nextMembershipDate from user where idx = #{idx};
	</select>
	
	<select id="idCheck" resultType="int">
		select count(*) from user where userId = #{userId};
	</select>
	
	<insert id="setSignup">
		insert into user values (default, #{vo.userId}, #{vo.pwd}, #{vo.email}, #{vo.telecom}, #{vo.phoneNb}, #{vo.userNm}, #{vo.nickNm}, default, default, default, default, default);
	</insert>
	
	<select id="getIdx" resultType="Integer">
		select idx from user where userId = #{userId};
	</select>
	
	<update id="setWithdrawal">
		update user set withdrawal = 1 where idx = #{idx};
	</update>

	<update id="setuserUpdate">
		update user set email = #{vo.email}, telecom = #{vo.telecom}, phoneNb = #{vo.phoneNb}, userNm = #{vo.userNm}, nickNm = #{vo.nickNm} where idx = #{idx};
	</update>
	
	<update id="setUpdatePwd">
		update user set pwd = #{pwd} where idx = #{idx};
	</update>
	
	<update id="setMembership">
		update user set membership = 1, membershipDate = now(), membershipCnt = membershipCnt + 1 where idx = #{idx};
	</update>
	
	<select id="getUserId" resultType="String">
		select userId from user where userNm = #{userNm} and phoneNb = #{phoneNb} and email = #{email} and withdrawal = 0;
	</select>

	<select id="getUserVOS" resultType="com.spring.cjs2108_kdd.vo.UserVO">
		select *, count(visitDate) as visitCnt, max(visitDate) as lastDate from user u left join visit v on userIdx = u.idx group by u.idx order by u.idx desc;
	</select>
	
	<update id="setImgUpdate">
		update user set profileImg = #{profileImg} where idx = #{idx};
	</update>
	
	<delete id="setUserDel">
		delete from user where idx = #{idx}; 
	</delete>
	
	<update id="setMemberShipReset">
		update user set memberShip = 0 , membershipDate = default where idx = #{idx};
	</update>
	
	<select id="getPlayListVOS" resultType="com.spring.cjs2108_kdd.vo.PlayListVO">
		select * from playlist where useridx = #{idx} and visible = 1;
	</select>
	
	<insert id="setPlayList">
		insert into playlist values (default, #{vo.userIdx}, #{vo.listNm}, #{vo.comment}, #{vo.content}, default);
	</insert>
	
	<insert id="setVisitDate">
		insert into visit values (default, #{idx}, default);
	</insert>
	
	<select id="getPlayListVO" resultType="com.spring.cjs2108_kdd.vo.PlayListVO">
		select * from playlist where idx = #{idx} and visible = 1;
	</select>
	
	<update id="setUpdateMyList">
		update playlist set content = #{content} where idx = #{idx} and visible = 1;
	</update>
	
	<update id="setPlayListDel">
		update playlist set visible = 0 where idx = #{idx};
	</update>
	
	<update id="setPlayListContentUpdate">
		update playlist set listNm = #{listNm}, comment = #{comment} where idx = #{idx};
	</update>
	

</mapper>